@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;

  @include xl {
    font-size: 50%;
  }

  @include lg {
    font-size: 40%;
  }

  @include m {
    font-size: 35%;
  }

  @include sm {
    font-size: 33%;
  }
}

body {
  background-color: $primary;
  font-size: 1.4rem;
  color: $white;
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 148rem;
  margin: auto;

  @include m {
    padding: 0 4rem;
    width: 100%;
  }
}

@import "header";
@import "main";
@import "carousel";
@import "most-watched";
@import "continue-watching";
@import "new-movies";
@import "new-series";
@import "collection";
@import "center";
@import "footer";

.swiper-slide {
  flex-shrink: 0;
}

.season-time {
  position: absolute;
  height: 3.3rem;
  top: 2rem;
  left: 2rem;
  background: $primary;
  padding: 0.5rem 1rem;

  &__text {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    color: $white;
  }
}

.bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.7rem;
  background-color: #303030;

  &__yellow {
    background-color: $yellow;
    width: 45%;
    height: 100%;
  }
}
